{% extends "base.html" %}

{% block title %}Django Bookmark List{% endblock %}

{% block content %}
<div id="content">
    <h1>Bookmark List</h1>

    <ul>
        {% for bookmark in object_list %}
            <li><a href="{% url 'bookmark:detail' bookmark.id %}">{{ bookmark }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!--
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Bookmark : {{ bookmark.title }}</title>
    </head>
    <body>
        <h1>Bookmark : {{ bookmark.title }}</h1>

        <a href="={{ bookmark.url }}">
            {{ bookmark.url }}
        </a>
    </body>
</html>
-->